<mat-card class="task-card">
    <mat-card-header>
      <mat-card-title>{{task.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions>
            <button mat-stroked-button color="primary" (click)="editTask()">Edit</button>
            <button mat-stroked-button color="primary" (click)="deleteTask()">Delete</button>
          </mat-card-actions>
    </mat-card-footer>
  </mat-card>