<mat-card class="task-card clickable" (click)="viewTask()">
    <mat-card-content style="padding-top:5px;">
      <mat-card-title>{{task.title}}</mat-card-title>
      <div class="inline-task">
        <div class="completedbox" (click)="completeTask()"></div>
        <div class="course-assignment" [style.background]="this.getCourseColor()">{{getCourseName()}}</div>
      </div>
    </mat-card-content>
    <mat-card-footer>
          <div class="task-due">{{getDueString()}}</div>
    </mat-card-footer>
  </mat-card>