.course-container { margin:10px; }
.clickable:hover { cursor:pointer; }
.course-card { border:1px solid black; box-shadow:none; display:flex; flex-direction: row; align-items: center; font-family:Nunito; }
mat-card-title { font-family:Nunito; font-weight:700; letter-spacing:0; margin:0; color:white; }
mat-card-content { flex:1; padding:5px 0 5px 5px; }
