<h2 mat-dialog-title>Edit Task</h2>
<mat-dialog-content class="edit-task">
    <form [formGroup]="editTForm" (ngSubmit)="onSubmit()" id="editTForm">

        <mat-form-field appearance="fill" class="taskinput">
            <mat-label>Title</mat-label>
            <input matInput id="title" type="text" formControlName="title" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Course</mat-label>
            <mat-select id="course" formControlName="course">
              <mat-option *ngFor="let c of course" [value]="c.course_id">
                {{c.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="fill" class="taskinput">
            <mat-label>Due Date</mat-label>
            <input matInput id="due_date" type="date" formControlName="due_date" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="taskinput">
            <mat-label>Details</mat-label>
            <textarea matInput id="details" type="textarea" formControlName="details"></textarea>
        </mat-form-field>

        <mat-radio-group formControlName="is_pinned" name="is_pinned" required>
            <mat-label>Pin Task?</mat-label>
            <mat-radio-button value="true" [value]="true">Yes</mat-radio-button>
            <mat-radio-button value="false" [value]="false">No</mat-radio-button>
        </mat-radio-group>

        <mat-divider></mat-divider>
        <button mat-stroked-button color="primary" type="submit" [disabled]="!editTForm.valid"
            [mat-dialog-close]="true">Submit</button>
        <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
    </form>
    <button mat-stroked-button color="warn" id="delete" (click)="deleteTask()" [mat-dialog-close]="true">Delete Task</button>
</mat-dialog-content>