<div class="task-list">
    <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Upcoming">
            <div class="add-task" (click)="newDialog()"><i class="bi bi-plus-circle-fill"></i></div>
            <h3><span>Pinned</span></h3>
            <div class="tasks" *ngFor="let p of active_ptasks">
                <app-tasks [task]="p"></app-tasks>
            </div>
            <h3><span>All</span></h3>
            <div class="tasks" *ngFor="let n of active_ntasks">
                <app-tasks [task]="n"></app-tasks>
            </div>
        </mat-tab>
        <mat-tab label="Completed">
            <h3><span>All</span></h3>
            <div class="tasks" *ngFor="let c of complete_tasks">
                <app-tasks [task]="c"></app-tasks>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>